/* Import the font */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* Background Style */
:root {
    --body-color: 48 48 58;

    --font-color: 255 255 255;
    --highlight-color: 0 0 0;

    --theme-background: 20 20 20;

    --theme-light: 0 0 0;
    --theme-medium: 0 0 0;
    --theme-dark: 0 0 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    justify-content: left;
    height: 30px;
    /* Set the desired height */
    display: flex;
    padding: 0 1rem;
    z-index: 1000;
}

body {
    background-color: rgb(var(--body-color));
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(var(--theme-background));
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
input,
select,
button,
span,
a,
p {
    color: rgb(var(--font-color));
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

button,
a,
input {
    outline: none;
}

.highlight {
    color: rgb(var(--highlight-color));
}

.fancy-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}

.no-scrollbar::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

#phone {
    background-color: rgb(var(--theme-background));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    height: 851px;
    width: 393px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

#main-wrapper {
    min-height: 100%;
    position: relative;
}

#main {
    height: 100%;
}

#content {
    padding: 1rem;
}

#links-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.75rem;
}

#links-container>a {
    color: rgb(255 255 255 / 80%);
    font-size: 0.75rem;
    text-decoration: none;
}

#links-container>a:is(:hover, :focus) {
    text-decoration: underline;
}

.content-section {
    padding-top: 50px;
    /* Ensure content starts below the fixed header */
    padding-bottom: 0px;
}

.funky-text {
    padding-top: 0px;
    position: relative;
    height: 75px;
}

.profile-image {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    padding-top: 20px;
    /* Add some padding from the top */
}

.profile-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#typing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: flex;

    padding-top: 25px;
    padding-bottom: 0px;
    font-size: medium;
}

#funky-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: flex;
    padding: 1rem;
    font-size: medium;
}

/* Add any additional styles you want... */
.container {
    flex-grow: 1;
    padding-bottom: 1rem;
    /* Add a bit of padding at the bottom of the container */
}

#apps-container {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(1, 100%);
    margin: 3rem 1rem;



}

#apps-container>p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(255 255 255 / 10%);
    padding: 1rem 0.75rem;
    border-radius: 0.2rem;
    text-decoration: none;
    font-size: 0.7rem;
    color: rgb(255 255 255 / 50%);
}

#apps-container>a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(255 255 255 / 10%);
    padding: 1rem 0.75rem;
    border-radius: 0.2rem;
    text-decoration: none;
}

#apps-container>a>i {
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

#apps-container>a>.label {
    width: calc(100% - 2.5rem);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
}

#apps-container>a>.label> :is(.name, .url, .techstack) {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#apps-container>a>.label>.name {
    font-size: 0.8rem;
}

#apps-container>a>.label>.url {
    font-size: 0.7rem;
    color: rgb(255 255 255 / 50%);
}

#apps-container>a>.label>.techstack {
    font-size: 0.7rem;
    color: rgb(255 255 255 / 50%);
}

#apps-container>a>.label>.techstack>img {
    width: 20px;
    height: 20px;
}


#apps-container>a:is(:hover, :focus) {
    background-color: rgb(255 255 255 / 16%);
    filter: grayscale(0%)
}

#apps-container>a:first-child {
    border-top-left-radius: 0.5rem;
}

#apps-container>a:nth-child(2) {
    color: rgb(255, 0, 0);
    border-top-right-radius: 0.5rem;
}

#apps-container>a:nth-child(3) {
    color: rgb(28, 204, 91);
}

#apps-container>a:nth-child(4) {
    color: rgb(28, 147, 228);
}

#apps-container>a:nth-child(5) {
    color: rgb(242, 85, 90);
}

#apps-container>a:nth-child(7) {
    border-bottom-left-radius: 0.5rem;
}

#apps-container>a:last-child {
    color: rgb(15, 118, 14);
    border-bottom-right-radius: 0.5rem;
}

.url {
    word-wrap: break-word;
}

.footer {

    background-color: rgba(255, 255, 255, 0);

    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    color: rgb(255 255 255 / 80%);

}

.footer p {
    font-size: 0.65rem;
    /* Adjust font size as needed */
    margin: 0;
    /* Remove default margins */
    color: rgb(255 255 255 / 80%)
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}